* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
  
.header-img {
  max-width: 100%;
  height: 400px;
  background: url(../img/lilajobanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.navbar {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0;
  background-color: #5dd9c1;
  color: navy;
  clear:both;
  list-style-type: none;
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

.nav-link {
  color: navy;
  font-size: 16px;
}
  
.cart a {
  color: navy;
  cursor: pointer;
  text-decoration: none;
}

h1{
  font-family: 'Lobster', cursive;
  color: navy;
}

.card {
  font-size: 18px;
  background-color: lightcoral;
  color: white;
  margin-bottom: 20px;
}

.add-cart {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  color: navy;
  background-color: lemonchiffon;
}

.footer-copyright {
  text-align: center;
  padding-top: 15px;
  color: navy;
}

@media only screen and (max-width: 600px) {
  .header-img {
    height: 150px;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 768px) {
  .header-img {
    background-size: 100% 100%;
    height: 300px;
  }
}




  
  /* ----------------- CART PAGE --------------- */
  
  .container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
  }
  
  .product-title {
    width: 45%;
  }
  
  .price {
    width: 15%;
    display: flex;
    align-items: center;
  }
  
  .quantity {
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .total {
    width: 10%;
    display: flex;
    align-items: center;
  }
  
  .product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
  
  .product ion-icon {
    cursor: pointer;
    
  }
  
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .products img {
    width: 75px;
  }
  
  .basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }
  
  .basketTotalTitle {
    width: 30%;
  }
  
  .basketTotal {
    width: 10%;
  }
  
  @media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }
  
    .sm-hide {
        display: none;;
    }
  
    .products,
    .product-header {
        justify-content: center;
    }
  
    .basketTotalContainer {
        padding-right: 8%;
    }
  }
  